@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body{
	font-family: "Raleway", "Sans serif";
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
}
.header{
	display: grid;
	align-items: center;
    margin: auto;
    padding:  0 40px 0 0;
}
.logo{
	grid-area: logo;
	height: 45px;
  	width: 100px;
  	padding: 32px;
}
.hebergement_activite{
	display: flex;
  	align-items: center;
  	grid-area: hebergement_activite;
}
.hebergement{
  	font-weight: 500;
  	text-align: center;
  	border-top: 3px solid #0065FC;
  	color: #0065FC;
  	padding: 32px ;
}
.activite{
	padding: 32px;
}
.inscription{
  	display: flex;
  	align-items: center;
  	grid-area: inscription;
  	padding: 32px;
  	color: #0065FC;
  	font-weight: 600;
}
.nav_input{
	margin: auto;
	padding: 0px 40px 0 40px;
}
h1{
	font-size: 1.5em;
	margin-bottom: 10px;
}
.recherche_nature{
	margin-top: 0px;
	font-size: 1.1em;
}
.fa-map-marker-alt{
	background-color: #F2F2F2;
	padding: 15px 20px 18px 20px;
	border-radius: 15px 0 0 15px;
	text-align: center;
}
.input{
	width: 210px;
	height: 41px;	
	padding-left: 20px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid #F2F2F2;
	border-left: none;
	border-right: none;
}
.rechercher{
	width: 110px;
	height: 49px;
	padding: 5px 5px 6px 5px;
	background-color: #0065FC;
	color: white;
	font-weight: 600;
	font-size: 1em;
	border: none;
	border-radius: 0 15px 15px 0;
}
.filtres_info{
	max-width: 1440px;
	margin-top: 50px;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.2em;
}
.filtres{
	margin-right: 35px;
	display: flex;
	align-items: center;
}
.economique ,.familial,.romantique,.animaux{
	display: flex;
	align-items: center;
	border: 2px solid #F2F2F2;
	border-radius: 40px;
	font-weight: bold;
	margin-right: 20px;
	padding-right: 25px;
}
.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog{
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 13px;
	margin-right:20px;
}
.fa-info-circle{
	border: 1px solid #F2F2F2;
	color: white;
	background-color: #0065FC;
	padding: 0;
	margin-right: 15px;
	border-radius: 50px;
	font-size: 1.5em;
}
.marseille{
	padding: 0 40px 0 40px;
	display: grid;
	grid-template-columns: 6fr 3fr;
	column-gap: 40px;
}
.article_marseille{
	display: grid;
	column-gap: 20px;
	row-gap: 20px;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px;
	grid-template-columns: repeat(3, 1fr);
}
#hebergement_marseille{
	margin: 0;
	grid-column: 1/-1;
}
.logement{
	background-color: white;
	padding: 3px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 16px #F2F2F2;
	max-height: 100%;
}
.photo_logement{
	height: 100px;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}
h5,.text_hebergement{
	margin: 5px 7px 0 7px;
	font-size: 1em;
}
.star_hebergement{
	color: #0065FC;
	margin: 6px 0 0 8px;
	font-size: 0.8em;
}
.article_populaire{
	display: grid;
	row-gap: 35px;
	grid-template-rows: auto repeat(3,1fr);
	padding: 40px;
	background-color: #F2F2F2;
	border-radius: 20px;
}
.plus_populaires{
	margin: 5px 7px 0px 7px; 
	display: flex;
	justify-content: space-between;
}
.populaire{
	background-color: white;
	padding: 3px;
	border-radius: 20px 20px;
	box-shadow: 0 0 16px #F2F2F2;
	height: 100%;
	display: flex;
}
.photo_populaire{
	min-height: 100%;
	width: 33%;
	min-width: 33%;
	max-width: 33%;
	border-radius: 20px 0 0 20px;
	object-fit: cover;
}
.block_populaire{
	display: flex;
	flex-direction: column;
}
.titre_populaire{
	font-size: 1.2em;
	margin: 15px 0 0 25px;
}
.text_populaire{
	margin: 15px 0 0 25px;
}
.star_populaires{
	margin: 25px 0 0 25px;
	color: #0065FC;
	font-size: 0.8em;
}
.article_activite{
	display: flex;
	flex-wrap: wrap;
	padding: 0 40px 40px 40px;
	justify-content: space-between;
}
#activite_marseille{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.colone_activite{
	display: flex;
	max-width: 300px;
	height: 450px;
	flex-wrap: wrap;
}
.activite1,.activite2,.activite3,.activite4,.activite5,.activite6{
	box-shadow: 0px 6px 3px #F2F2F2;
	border-radius: 20px;
}
.activite2,.activite3,.activite5,.activite6{
	max-width: 100%;
	width: 100%;
}
.activite2,.activite5{
	margin-bottom: 40px;
}
.photo_activite1,.photo_activite2,.photo_activite3,.photo_activite4,.photo_activite5,.photo_activite6{
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}
.photo_activite1,.photo_activite4{
	max-width: 100%;
	max-height: 390px;
	height: 390px;
}
.photo_activite2{
	max-width: 100%;
	max-height: 185px;
	height: 185px;
}
.photo_activite3{
	max-width: 100%;
	width: 100%;
	max-height: 110px;
	height: 110px;
}
.photo_activite5{
	max-width: 100%;
	width: 100%;
	max-height: 140px;
	height: 140px; 
}
.photo_activite6{
	max-width: 100%;
	width: 100%;
	max-height: 155px;
	height: 155px;
}
.text_activite{
	font-size: 1em;
	padding-left: 20px;
}
footer{
	display: grid;
	column-gap: 20px;
	row-gap: 20px;
	background-color: #F2F2F2;
	grid-template-columns: repeat(3, 1fr);
	padding: 40px;
}
.a_propos,.nos_hebergements,.assistance{
	display: grid;
	grid-template-rows: repeat(7, 1fr);
}
h4{
	margin: 0px;
}
.fonction,.charte,.centre{
	grid-row: 3/3;
}
.condition,.soumettre,.contact{
	grid-row: 5/5;
}
.donnee{
	grid-row: 7/7;
}
.star_silver{
	color: silver;
}
.economique:hover,.familial:hover,.romantique:hover,.animaux:hover{
	background-color: #DEEBFF;
}
.loupe{
	display: none;
}
.input::placeholder{
	color: black;
	opacity: 1;
}
.input:focus{
	border: 0;
	outline: 0;
}
@media screen and (min-width: 925px){
    .article_marseille{
    	grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 601px){
  .header{
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . hebergement_activite inscription";
  }
}
@media screen and (max-width: 1000px){
	.marseille{
		display: flex;
		flex-direction: column;
	}
	.article_marseille{
		order: 2;
	}
	.article_populaire{
		order: 1;
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 600px){
  .header{
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo . inscription" "hebergement_activite hebergement_activite hebergement_activite" ;
  }
  .hebergement_activite{
  	width: 110%
  }
  .hebergement{
  	border-bottom: 3px solid #0065FC;
  	border-top: none;
  	width: 35%;
  }
  .activite{
  	width: 50%;
  	text-align: center;
  	border-bottom: 1px solid #F2F2F2;
  	padding: 32px 32px 32px 0px;
  }
  .colone_activite{
  	max-width: 250px;
  }
}
@media screen and (max-width: 500px){
	.rechercher{
		display: none;
	}
	.loupe{
		display: inline-block;
	}
	.fa-search{
		background-color: #0065FC;
		padding: 16px;
		color: white;
		border-radius: 10px;
	}
}
@media screen and (max-width: 470px){
	.header{
		padding: 0;
	}
	.logo{
		padding: 20px;
	}
	.hebergement_activite {
    	width: 100%;
    }
    .activite{
    	padding: 32px 0;
    }
    .nav_input{
    	padding: 0 20px 0 20px;
	}
	.input{
		padding: 2px 0 4px 20px;
	}
	.recherche_nature{
		font-size: 0.9em;
	}
	.filtres{
		margin: 0 35px 15px 0;
		width: 100%; 
	}
	.economique,.familial,.romantique,.animaux{
		font-size: 1em;
		padding-right: 15px;
		margin-right: 13px;
		margin-bottom: 13px;
	}
	.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog{
		padding: 10px;
		margin-right: 15px;
	}
	.fa-info-circle{
		float: left;
	}
	.marseille{
		padding: 0;
	}
	.article_populaire{
		padding: 20px 20px 50px 20px;
		row-gap: 20px;
		border-radius: 0;
	}
	.titre_populaire{
		font-size: 1.3em;
	}
	.article_marseille{
		display: flex;
		flex-direction: column;
		padding: 0px 20px 20px 20px;
		background-color: white;
	}
	.logement{
		box-shadow: 0px 0px 2px silver;
		height: 200px;
	}
	.photo_logement{
		height: 120px;
	}
	.show{
		margin: 0;
	}
	.article_activite{
		padding: 0 20px;
		height: auto;
		display: grid;
		grid-template-rows: auto repeat(6,1fr);
		row-gap: 20px;
		margin-bottom: 50px;
	}
	#activite_marseille{
		font-size: 1.4em;
		grid-row: 1/1;
	}
	.colone_activite{
    	max-width: 375px;
    	max-height: 190px;
	}
	.colone_activite:nth-child(2){
		grid-row: 2/2;
	}
	.colone_activite:nth-child(3){
		grid-row: 3/5;
	}
	.colone_activite:nth-child(4){
		grid-row: 5/5;
	}
	.colone_activite:nth-child(5){
		grid-row: 6/8;
	}
	.activite2,.activite5{
		margin-bottom: 20px;
	}
	.activite3{
		height: 190px;
	}
	.photo_activite1,.photo_activite2,.photo_activite3,.photo_activite4,.photo_activite5,.photo_activite6{
		height: 140px;
		max-height: 140px;
		width: 375px;
	}
	footer{
		display: grid;
		grid-template-rows: 2fr;
		grid-template-columns: 1fr;
		padding: 50px 18px 0 25px;
		row-gap: 40px;
	}
	.nos_hebergements{
		grid-template-rows: repeat(5, 1fr);
	}
}
